- var dateDropdownTitle_1
- var dateDropdownTitle_2

.date-dropdown-wrapper
	.date-dropdown
		h3 #{dateDropdownTitle_1}
		.dropdown-main
			+input('date-drop-1', '', 'text', 'date', 'required', 'ДД.ММ.ГГГГ')
	.date-dropdown
		h3 #{dateDropdownTitle_2}
		.dropdown-main
			+input('date-drop-2', '19.08.2019', 'text', 'date', 'required', 'ДД.ММ.ГГГГ')

