div(class='menu-main')
	ul(class='menu-main__list')
		+list-item('О нас', '/about')
		+list-item__sub('Услуги', '/service', 'services')
			+list-item('Услуга 1', 'javascript:void(0);')
			+list-item('Услуга 2', 'javascript:void(0);')
		+list-item('Вакансии', '/vacancies')
		+list-item('Новости', '/news')
		+list-item__sub('Соглашения', '/agreements', 'agreements')
			+list-item('Соглашение 1', 'javascript:void(0);')
			+list-item('Соглашение 2', 'javascript:void(0);')