.footer__main-menu
	.footer__main-menu-list-wrap
		.main__title Навигация
		ul.footer__main-menu-list
			+list-item('О нас', 'javascript:void(0);')
			+list-item('Новости', 'javascript:void(0);')
			+list-item('Служба поддержки', 'javascript:void(0);')
			+list-item('Услуги', 'javascript:void(0);')
	.footer__main-menu-list-wrap
		.main__title О нас
		ul.footer__main-menu-list
			+list-item('О сервисе', 'javascript:void(0);')
			+list-item('Наша команда', 'javascript:void(0);')
			+list-item('Вакансии', 'javascript:void(0);')
			+list-item('Инвесторы', 'javascript:void(0);')
	.footer__main-menu-list-wrap
		.main__title Служба поддержки
		ul.footer__main-menu-list
			+list-item('Соглашения', 'javascript:void(0);')
			+list-item('Сообщества', 'javascript:void(0);')
			+list-item('Связь с нами', 'javascript:void(0);')