extends ../layouts/default.pug
include ../helpers/mixins

block variables
	- const title = "UI-kit";

block content
	.ui-container
		.row
			.col-4
				h3 Text field
				+input('email', '', 'email', 'email', 'required', 'Email')
				h3 Dropdown
				block dropdown
					- var rooms = false
					- var guests = false
					include ../../blocks/modules/dropdown/dropdown.pug
				h3 Masked text field
				block input-date-mask
					include ../../blocks/modules/input-date-mask/input-date-mask.pug
				block date-dropdown
					include ../../blocks/modules/date-dropdown/date-dropdown.pug
				h3 Filter date dropdown
				block date-dropdown-filter
					include ../../blocks/modules/date-dropdown-filter/date-dropdown-filter.pug
				h3 Subscription text field
				block form-email-subscription
					include ../../blocks/modules/form-email-subscription/form-email-subscription.pug


			.col-4
				block checkbox-options
					include ../../blocks/modules/checkbox-options/checkbox-options.pug
				block radio-options
					include ../../blocks/modules/radio-options/radio-options.pug
				block toggle
					include ../../blocks/modules/toggle/toggle.pug

				block btn-like
					include ../../blocks/modules/btn-like/btn-like.pug

				block btn-rate
					include ../../blocks/modules/btn-rate/btn-rate.pug

			.col-4
				block range-slider
					include ../../blocks/modules/range-slider/range-slider.pug

				h3 Buttons
				.ui-kit_btns-wrapper
					+btn-purple('/', 'Click me')
					br
					+btn-transparent('/', 'Click me')
					br
					+btn-link('/', 'Click me')
					br
					+btn-long('/', 'перейти к оплате')

				h3 Pagination
				block pagination
					include ../../blocks/modules/pagination/pagination.pug
		.row
			.col-4
				h3 Dropdown Rooms
				block dropdown-rooms
					- var rooms = true
					- var guests = false
					include ../../blocks/modules/dropdown/dropdown.pug

			.col-4
				h3 Dropdown Guests
				block dropdown-guests
					- var rooms = false
					- var guests = true
					include ../../blocks/modules/dropdown/dropdown.pug

block scripts
	script(src="../js/main.js")

block header
	include ../../blocks/modules/header/header.pug

block header__log-in
	include ../../blocks/modules/header__log-in/header__log-in.pug

block footer
	include ../../blocks/modules/footer/footer.pug

block footer__creative
	include ../../blocks/modules/footer__creative/footer__creative.pug