header
	nav.nav-bar
		div(class='nav-bar-wrap')
			block logo
				include ../logo/logo.pug

			block menu-main
				include ../menu-main/menu-main

			div(class='nav-bar__login')
				+link-with-span('javascript:void(0);', '', 'Cosmin Negoita')