form(class='form-email-subscription' action='/action_page.php' method='get')
	+input('email-subscr', '', 'email', 'email', 'required', 'Email')
	button(class='btn-submit-purple' type='submit')
		+img('img/svg/ico_arrow-right-purple.svg','18', '18', 'Стрелка')