.dropdown__list-wrapper {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  height: 0;
  width: 0;
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
  box-sizing: border-box;
  background-color: $color_white;
  border: 1px solid $color_dark-shade-50;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 7px 7px 7px 15px;
  z-index: 5;

  .dropdown__list-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 6px;

    button {
      padding: 0;
      outline: none;
      font-family: $font_main-bold;
      text-transform: uppercase;
      font-size: 12px;
      color: $color_dark-shade-50;

      &[type="submit"] {
        color: $color_purple;
      }

    }
  }
}

.dropdown.active {

  .dropdown__list-wrapper {
    height: auto;
    width: 100%;
    opacity: 1;
    pointer-events: auto;
    overflow: visible;
    transition: opacity .2s ease-in-out;
  }

}

.dropdown__list {


  li {
    margin-bottom: 7px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .dropdown__option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 12px;
      font-family: $font_main-bold;
      line-height: 1;
      color: $color_dark-shade-100;
      text-transform: uppercase;
    }

    .counter {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;

      .counter-quantity {
        font-size: 12px;
        font-family: $font_main-bold;
        color: $color_dark-shade-100;
        padding: 0 5px;
        line-height: 1;
        min-width: 15px;
        text-align: center;
        
        input {
          position: absolute;
          width: 0;
          height: 0;
          z-index: 0;
          padding: 0;
          pointer-events: none;
          visibility: hidden;
        }
      }

      .counter__btn {
        width: 30px;
        height: 30px;
        border-radius: 22px;
        border: 1px solid $color_dark-shade-25;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        line-height: 1;
        color: $color_dark-shade-50;
        box-sizing: border-box;
        cursor: pointer;
        transition: $transition;

        &.plus {
          padding-top: 2px;
        }

        &:hover, &:focus {
          border: 1px solid $color_dark-shade-50;
          color: $color_dark-shade-75;
        }
      }

    }
  }
}