extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content

block scripts
	script(src="../js/main.js")

block header
	include ../blocks/modules/header/header.pug

block footer
	include ../blocks/modules/footer/footer.pug