.btn-rate-wrapper
	h3 Rate button
	.btn-rate-list-wrapper
		ul.btn-rate-list
			li.btn-rate(data-value='1')
			li.btn-rate(data-value='2')
			li.btn-rate(data-value='3')
			li.btn-rate(data-value='4' class='active')
			li.btn-rate(data-value='5')

		ul.btn-rate-list
			li.btn-rate(data-value='1')
			li.btn-rate(data-value='2')
			li.btn-rate(data-value='3')
			li.btn-rate(data-value='4')
			li.btn-rate(data-value='5' class='active')