+fieldset-group('checkbox-group', 'Checkbox Buttons')
	+input__checkbox('option__smoking', 'options', 'smoking', 'Можно курить')
	+input__checkbox('option__pet', 'options', 'pet', 'Можно с питомцами')
	+input__checkbox('option__guests', 'options', 'guests', 'Можно пригласить гостей (до 10 человек)')