.checkbox-group {
  margin: 0;
  margin-bottom: 33px;
}

.checkbox-wrapper {
  position: relative;
  display: flex;

  input[type="checkbox"] {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
  }

  label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 10px;
    position: relative;
    color: $color_dark-shade-50;
    cursor: pointer;
    flex: 0 1 auto;

    span {
      max-width: 215px;
      line-height: 130%;
    }

    &:before {
      content: '';
      display: block;
      background: #FFFFFF;
      width: 20px;
      height: 20px;
      border: 1px solid rgba(31, 32, 65, 0.25);
      box-sizing: border-box;
      border-radius: 4px;
      margin-right: 10px;
      transition: $transition;
    }

    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 11px;
      @include background('/img/svg/ico_tick-purple.svg')
      box-sizing: border-box;
      background-size: contain;
      opacity: 0;
      position: absolute;
      left: 5px;
      top: 3.5px;
      transition: $transition;
    }
  }

  input:checked + label:after {
    opacity: 1;
  }

  input:checked + label:before {
    border: 1px solid #BC9CFF;
  }
}
