.social-links
	+link-with-img ('javascript:void(0);', '', 'img/svg/ico_social-twitter.svg', '24', '24', 'Twitter')
	+link-with-img ('javascript:void(0);', '', 'img/svg/ico_social-facebook.svg', '24', '24', 'Facebook')
	+link-with-img ('javascript:void(0);', '', 'img/svg/ico_social-instagram.svg', '24', '24', 'Instagram')