.footer__wrap {
  background-color: #fff;
}

.footer__main {
  max-width: $max-content;
  margin: 0 auto;
  padding: 100px 140px;
  display: flex;
  justify-content: space-between;
}

.footer__copyright-wrap {
  background: #FFFFFF;
  border-top: 1px solid rgba(31, 32, 65, 0.25);
  padding: 26px 0;
}