footer
  .footer__wrap
    .footer-menu__wrap
        include ../../components/footer-with-logo/footer-with-logo.pug
        include ../footer-menu/footer-menu
        include ../../components/footer-email-form/footer-email-form.pug

    .footer-copyright__wrap
        include ../../components/footer-copyright/footer-copyright.pug

