footer
  .footer__wrap
    .footer__main
        include ../../components/footer/__main-logo/footer__main-logo.pug
        include ../footer-menu/footer-menu
        include ../../components/footer/__email/footer__email.pug

    .footer__copyright-wrap
        include ../../components/footer/__copyright/footer__copyright.pug

