.btn-like-wrapper {
  margin-bottom: 41px;
}

.btn-like {
  width: 38px;
  height: 20px;
  box-sizing: border-box;
  display: inline-block;
  margin-right: 8px;

  .btn-counter {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid $color_dark-shade-25;
    border-radius: 10px;
    font-size: 10px;
    color: $color_dark-shade-25;
    position: relative;
    transition: $transition;

    &::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 5px;
      display: block;
      width: 10px;
      height: 8px;
      @include background('/img/svg/ico_favorite-transparent.svg');
      transition: $transition;
    }

    &::after {
      content: attr(data-count);
      position: absolute;
      right: 10px;
      top: 6px;
      transition: $transition;
    }

    &.active {
      border-color: $color_purple;
      color: $color_purple;

      &::before {
        background-image: url('/img/svg/ico_favorite-purple.svg');
      }
    }
  }

}