.btn-like-wrapper
	h3 Like button
	.btn-like
		a(href="javascript: void(0);" class="btn btn-counter" data-count="2")
	.btn-like
		a(href="javascript: void(0);" class="btn btn-counter active" data-count="12")