.btn-purple {
  font-family: $font_main-bold;
  font-size: 12px;
  text-transform: uppercase;
  color: $color_white;
  text-align: center;
  padding: 15px 20px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 22px;
  opacity: 1;
  transition: $transition;

  &:hover, &:focus {
    opacity: 0.5;
  }
}